.oactive {
    font-weight:bold;
}

.napierFill {
    color:white;
    background-color: #c31532;
}

.napierAlt{
    background-color: #CE5C16;
}

.napierAlt2{
    background-color: #329900;
}
